body {
    text-align: center;
}

#chooseCharacter>ul {
    list-style: none;
}

#chooseCharacter img {
    max-height: 120px;
}

#timer {
    font-size: 45px;
}

.gameInfo {
    padding-top: 200px;
}
#canvasContainer p{
    padding-top: 100px;
    font-size: 100px;
}
